{% extends 'main/main.html' %}
{% block title %}
    Оплата и Доставка
{% endblock %}



{% block main %}
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a >Оплата и Доставка</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- Blog Area Start -->
<div class="blog-area pb-60">
    <div class="container">
        <div class="row">
            <!-- Main Blog Start -->
            <div class="col-sm-12">
                <!-- Blog Details Start -->
                <div class="blog-details">
                    <div class="blog-content">
                        <h1>Оплата и Доставка</h1>
                        <div class="container">
                            <h4>Poka Post</h4>
                        </div>
                                           </div>
                </div>  
            </div>
            <!-- Main Blog End -->
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Blog Area End -->        

{% endblock %}